.App {
    text-align: center;
    background-color: #f1f1f1;
    height:1200px !important;
    width:100%;
    padding: 10px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #E6E6E6;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.page-container{
  margin-left:40px;
  margin-right:40px;
}

* {
 font-size: 100%;
 font-family: Helvetica !important;
}

h1, h2, h3,{
 font-size: 100%;
 font-family: Raleway Regular !important;
  text-transform: uppercase;
}

 h4, h5, h6 {
 font-size: 100%;
 font-family: Raleway Regular !important;
}

button {
 font-size: 100%;
  font-weight:bold;
 font-family: Helvetica !important;
}

p {
 font-size: 100%;
 font-family: Helvetica !important;
}

.btn-primary-gw{
  background-color: #A9BBF9;
}
.btn-secondary-gw{
  background-color: #A7F0E5;
}

.btn-white{
    background-color: #A7F0E5 !important;
}

.lead{
    text-align:center !important;
}

.grasswalker-header{
    height:100px;
    width:80%;
}

.grasswalker-content{
    width:80%;
}

.grasswalker-header-text{
    font-family: "Playfair Display" !important;
    font-size: 2em;
    font-style: italic !important;
    text-transform: uppercase;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;

}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.nav-img{
    height:80px;
    background-image: url('nav.png');
    padding: 20px;
}

.nav-item{
    display:inline;
    width:25%;
    height:100%;
    padding-left:10px;
}

.nav-item-border{
    border-right: solid white 2px;
}

.nav-item-text{
    color:white !important;
}


.home-banner{
    margin-top: 150px;
}

.home-banner-text{
    font-family: "Playfair Display" !important;
    font-size: 3em;
}

.home-learn-more{
    font-weight: bold;
}


a:link {
    color: #ffffff !important;
}
a:visited {
    color: #ffffff !important;
}
a:hover {
    color: #ffffff !important;
}
a:active {
    color: #ffffff !important;
}
