.navbar {
    height:100px;
    /*background-color: #4285f4;*/
    background-color:#41669d;
}


a:link {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color: white;
}
a:active {
    color: white;
}

.nav-padded{
    margin-right: 5px;
}


