.navbar {
    height:100px;
    /*background-color:#1A0B59;*/
    background-color:#e6e6e6;
}


a:link {
    color: #000000;
}
a:visited {
    color: #000000;
}
a:hover {
    color: #000000;
}
a:active {
    color: #000000;
}

.nav-padded{
    margin-right: 5px;
}

.btn-white{
    background-color: #46A3A0 !important;
}

.logo{
    max-height:100px !important;
}