.about-container{
    /*padding-top: 5%;*/
    /*padding-left: 15%;*/
    /*padding-right: 15%;*/
    padding-left:15%;
    padding-right:15%;
    height:100% !important;
}

.about-container-text{
    font-weight: bold;
    text-align:left;
    font-family: "Myriad Pro";
}
