.content{
    width:100%;
    height:100%;
}

.sidebar{
}

.sidebarLink{
    color:black !important;
}

.list-group-item{
    background-color:#ffffe6 !important;
}

.card {
    display:inline-block;
    margin-bottom:10px;
}

.folder {
    width: 250px;
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
    background-color: tan;
    border-radius: 0 6px 6px 6px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.59);

}

.folder:before {
    content: '';
    width: 50%;
    height: 12px;
    border-radius: 0 20px 0 0;
    background-color: tan;
    position: absolute;
    top: -12px;
    left: 0px;
}

.folder-content{
    padding-left:5%;
    padding-right:5%;
    padding-top:5%;
    color:white;
}

.parent-wrapper {
  height: 100%;
  width: 100%;
}
.parent {
  display: flex;
  flex-wrap: wrap;
}

.circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: transparent;
  position: relative;
  border: solid #ffffe6;
    margin-right:5px;
    margin-left:5px;
    margin-top:5px;
    margin-bottom:5px;
}
.circle::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: blue;
  height: 10px;
  margin-top: -5px;
  top: 50%;
  left: 5px;
  right: 5px;
  z-index: 9;
}
.circle::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: blue;
  width: 10px;
  margin-left: -5px;
  left: 50%;
  top: 5px;
  bottom: 5px;
  z-index: 9;
}

.modal-overlay-div {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .65);
}

.modal-content-div {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    overflow: auto;
    text-align: center;
    padding: 4px;
    cursor: pointer;
}

.modal-content-div:after {
    vertical-align: middle;
    display: inline-block;
    height: 100%;
    margin-left: -.05em;
    content: '';
}

.modal-dialog-div {
    position: relative;
    outline: 0;
    width: auto;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    max-width: auto;
    cursor: default;
    border-radius: 4px;
}

.showModal{
    display:block !important;
}

.hideModal{
    display:none !important;
}

.modal-title{
    align:center !important;
}